<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
	<!-- 系统日志文件名 -->
	<substitutionProperty name="log.base" value="${logpath}" />
	<!-- <substitutionProperty name="log.base" value="/logs/p2b" /> -->
	<jmxConfigurator />

	<!-- 控制台输出-->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date %-5level %logger{80} %msg%n</pattern>
		</layout>
	</appender>
	
	<!-- 平台日志appender-->
	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<File>${log.base}/p2p_portal.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}.%d{yyyyMMdd}.log.zip</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>
	
	<logger name="cn.com.p2p.framework">
		<level value="DEBUG" />
	</logger>
	
	<logger name="cn.com.p2p.control">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.apache.ibatis">
		<level value="DEBUG" />
	</logger>

	<logger name="com.opensymphony.xwork2.ognl.OgnlValueStack">
		<level value="ERROR" />
	</logger>
	<logger name="cn.com.p2p.payment">
		<level value="DEBUG" />
	</logger>
	<!-- 
	<logger name="cn.com.p2p.workflow">
		<level value="DEBUG" />
	</logger>
	//TODOBUG -->
	<logger name="cn.com.p2p.domain">
		<level value="DEBUG" />
	</logger>
	<logger name="cn.com.p2p.security">
		<level value="DEBUG" />
	</logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>
</configuration>

